<html>
    <head>
        <title>All Admin</title>
    </head>
    <body>
        <div>
            <br><br><br><h2>All Admin List:</h2>
            <form>
                <span style="color:red">{{msg}}</span>
            <table class="table table-hover">
                <tr>
                    <th>Admin ID</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Date of Birth</th>>
                    <th>Date of Joining</th>
                    <th>Marital Status</th>
                    <th>Blood group</th>
                    <th>Salary</th>
                </tr>
                <tr ng-repeat="a in allAdmin">
                    <td>{{a.Id}}</td>
                    <td><a class="btn btn-success" href="#!Admin/Edit/{{a.Id}}">Edit</a></td>
                    <td><a class="btn btn-default" href="#!Admin/Details/{{a.Id}}">Details</a></td>
                    <td><a class="btn btn-danger" href="#!Admin/Delete/{{a.Id}}">Delete</a></td>
                    <td>{{ a.First_name }}</td>
                    <td>{{ a.Last_name }}</td>
                    <td>{{ a.Username }}</td>
                    <td>{{ a.Gender }}</td>
                    <td>{{ a.Address }}</td>
                    <td>{{ a.Email }}</td>
                    <td>{{ a.Phone }}</td>
                    <td>{{ a.DateOfBirth }}</td>
                    <td>{{ a.JoiningDate }}</td>
                    <td>{{ a.Marital_status }}</td>
                    <td>{{ a.Blood_group }}</td>
                    <td>{{ a.Salary }}</td>
                </tr>
            </table>
            </form>
        </div>
    </body>
</html>