<html>

<head>
    <title>Admin Details</title>
</head>

<body>
    <div>
    <div>
        <br><br><br><a class="btn btn-success" href="#!Admin/All">Back to List</a><br>
    </div>
        <br><br><br>
        <h2>Details Admin</h2>
        <form>
            <br>Admin ID         :  {{ detailsAdmin.Id}}
            <br>First Name       :  {{ detailsAdmin.First_name }}
            <br>Last Name        :  {{ detailsAdmin.Last_name }}
            <br>Username         :  {{ detailsAdmin.Username }}
            <br>Gender           :  {{ detailsAdmin.Gender }}
            <br>Address          :  {{ detailsAdmin.Address }}
            <br>E-mail           :  {{ detailsAdmin.Email }}
            <br>Phone            :  {{ detailsAdmin.Phone }}
            <br>Date of Birth    :  {{ detailsAdmin.DateOfBirth }}
            <br>Date of Joining  :  {{ detailsAdmin.JoiningDate }}
            <br>Marital Status   :  {{ detailsAdmin.Marital_status }}
            <br>Blood group      :  {{ detailsAdmin.Blood_group }}
            <br>Salary           :  {{ detailsAdmin.Salary }}
        </form>
    </div>
</body>

</html>