<html>

<head>
    <title>Organization Details</title>
</head>

<body>
    <div>
        <br><br><br>
        <h2>Details Organization</h2>
        <form>
            <br>Organization ID :   {{ detailsOrganization.Id}}
            <br>Organization Name : {{ detailsOrganization.Name }}
            <br>Username :          {{ detailsOrganization.Username }}
            <br>Address :           {{ detailsOrganization.Address }}
            <br>E-mail :            {{ detailsOrganization.Email }}
            <br>Phone :             {{ detailsOrganization.Phone }}
            <br>Website :           {{ detailsOrganization.Website }}
        </form>
    </div>
        <div>
            <br><br><br><a class="btn btn-success" href="#!Organization/All">Back to List</a><br>
        </div>
</body>

</html>