<html>

<head>
    <title>User Details</title>
</head>

<body>
    <div>
        <br><br><br>
        <h2>Details user</h2>
        <form>
            <br>User ID :   {{ detailsUser.Id}}
            <br>First Name :{{ detailsUser.First_name }}
            <br>Last Name : {{ detailsUser.Last_name }}
            <br>Username :  {{ detailsUser.Username }}
            <br>Gender :    {{ detailsUser.Gender }}
            <br>E-mail :    {{ detailsUser.Email }}
            <br>Phone :     {{ detailsUser.Phone }}
        </form>
    </div>
    <div>
        <br><br><br><a class="btn btn-success" href="#!User/All">Back to List</a><br>
    </div>
</body>

</html>